*{
    margin: 0;
    padding: 0;
    color:#ba9077;
}
body{
    background-color: #5a5c51;
    font-family: '微软雅黑' ,Arial, Verdana;
}
h1{
    color: #1d2120;
    font-size: 400%;
    font-weight: #1d2120;
}
a{
    text-decoration: none;
}
/*首页有背景图片部分*/
.first{
    background: url("picture/backg.jpg") no-repeat;
    background-size: 100%;
    padding:0 7%;
}
.sign{
    text-align: center;
}
.sign p{
    margin: 0 auto;
}
.headerNav a{
    display: inline-block;
    padding: 0 5% 0 0;
    font-size: 100%;
}
#Header{
    width: 70%;
}
#Header h1{
    color:#5a5c51;
    padding-top: 5%;
}
#guide{
    font-weight: 900;
    color: #ba9077;
    font-size: 200%;

}
.Button input{
    background: transparent;
    border: 1px solid #ba9077;
    font-size: 150%;
    padding: 2% 4%;
    margin: 3% 0 ;
    border-radius:10px;
}
#Button2{
    background: #ba9077;
    color: black;
}
/*首页博文区*/
#content{
    margin: 0 0 0 7%;
    width: 100vh;/*让这个元素撑满页面,但是记住width是指内容的宽度，不包括内边距边框和外边距*/
    height: 100vh;
}
#content h1{
    border-top: 1px solid #ba9077;
    border-bottom: 1px solid #ba9077;
}
#content a{
    font-size: 200%;
    color: #ba9077;
    margin: 2%;
    display: block;
}
#content a:visited{
    color: #1d2120;
}
#content a:hover{
    color: slategray;
    border-bottom: dotted 1px slategray;
}
#content a:active{
    color: #bcd5d1;
    border-bottom: solid 1px #bcd5d1;
}
#content p{
    color: #bcd5d1;
    line-height: 300%;
}
#content li{
    display: inline-block;
    float: right;
    color:#ba9077;
}
#float{
    position: fixed; /*固定定位*/
    right:0;
    top:20vh;
    border: 1px solid #bcd5d1;
    width: 10%;
    height: 20%;
}


