@keyframes come {
    from{
        color: transparent;
        transform: translate(-3%,0);
    }
}
@keyframes leftAndRight {
    from{
    }
    33%{
        transform: rotate(-5deg);
    }
    66%{
        transform: rotate(5deg);
    }
}
@keyframes upAndDown{
    from{
        transform: translate(0,10%);
    }
    33%{
        transform: translate(0,-10%);
    }
    66%{
        transform: translate(0,10%);
    }
}
@keyframes color{
    from{
        color:rgb(95,95,95)
    }
    33%{
        color:palevioletred;
    }
    66%{
        color:darkred;
    }
    to{
        color: rgb(95,95,95);
    }
}
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Andalus;
    height: 100%;
    font-size: 1em;
    background-size:100%;
    width: 100%;
}
h2{
    line-height: 2em;
    font-weight: 100;
    color:  rgb(131,131,131);
    padding-bottom: 8%;
}
h3{
    font-weight: 300;
    font-size: 1.3em;
    margin: 4% 0 2% 0;
    border-top: solid #bcd5d1 1px;
    padding-top: 1%;
    width: 100vh;
}
h4{
    font-weight: 300;
    font-size: 1.3em;
    margin: 4% 0 2% 0;
    color: darkblue;
    text-decoration-line: underline;
    text-decoration-color: darkcyan;
    text-decoration-style: dotted;
}
h5{
    font-weight: 100;
    font-size: 1em;
    margin: 4% 0 2% 0;
    color: darkolivegreen;
    list-style-type: circle;
    display: list-item; /*表现的像li一样!*/
}
p{
    line-height: 2.5em;
    color:  black;
    text-indent:2em;
    margin-bottom:3% ;
}
a{
    color:  slategrey;
    text-decoration: none;
}
img{
    max-width: 90%;
}
#home{
    text-align: center;
}
.first{
    height: 100%;
    width: 100%;
}
.first>div{
    font-size: 3em;
    margin: 0 auto;
    line-height: 2em;
    animation: leftAndRight 1s;
    z-index: 100;
}
.first>div>a{
    color:  rgb(131,131,131);
    text-decoration: none;
}
#home:hover{
    transform: scale(1.2);
}
.first #back{
    position: fixed;
    bottom: 0;
    right: 5%;
}
.first #back:hover{
    transform:rotate(360deg);
}
.first>section{
    background-color: rgb(221,221,221);;
    padding: 0 5%;
    height: 100%;
    width: 90%;
}
.first>section header{
    font-size: 3em;
    width:20%;
    line-height: 2.333em;
    animation: come 1s;
    float: left;
    color: black;
}
.first ul{
    width: 100%;
}
.first li{
    display: inline-block;
    float: right;
    width: 20%;
    text-align: center;
    animation: upAndDown 1s;
}
.first li a{
    display: inline-block;
    font-size: 2em;
    line-height: 3.5em;
    text-decoration: none;
    color: black;
    font-weight: 700;
    width: 100%;
    cursor: default;
}
.first>section header:hover{
    cursor: pointer;
}
.content{
    text-align: center;
}
.content h1{
    margin: 0 auto;
    font-size: 1.5em;
}
.content ul{
    text-align: center;
    margin: 2% 0 3% 70%;
    right: 0;
}
.content ul li{
    display: inline-block;
    color:#64706c;
    font-size:1em;
}
.right{
    width: 68%;
    float: right;
    border-right: 1px #64706c dashed;
}
.right h1{
    font-size:2em;
    margin:7% 6% 0 0;
    font-weight: 700;
}
.left{
    float: left;
    width: 15%;
    margin: 5%;
}
.left a{
    display: inline-block;
    margin: 4% 0;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
.left a:hover{
    overflow: visible;
    border-bottom: dotted 1px slategray;
}
.CONTENT div{
    clear: both;
    margin-bottom: 7%;
}
.cut{
    float:left;
    margin-left: 32%;
}
.cut a{
    line-height: 2em;
    display: inline-block;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
.cut a:visited{
    color: #64706c;
}
.cut a:hover{
    color: slategray;
    border-bottom: dotted 1px slategray;
}
.cut a:active{
    color: #c7ad88;
    border-bottom: solid 1px #c7ad88;
}
.comment{
    border-top: solid #bcd5d1 1px;
    width: 55%;
}
.right article{
    padding-right: 8%;
}
.strong{
    font-weight: 600;
    font-size:1.05em;
}
.ps{
    color: black;
    font-style: italic;
}
.code{
    background-color: rgba(100,112,108,0.05);
    border:1px solid rgba(100,112,108,0.2);
    color: black;
    display: inline-block;
    text-indent:0;
    font-size: 0.8em;
    padding:1%;
}
.comment div{
    line-height: 2em;
    margin: 5%;
}
.comment img{
    width: 5%;
    height: 5%;
}
label{
    cursor: pointer;  /*光标样式 手掌样子 这样可以让游客发现这可以交互*/
}
.clear{
    clear: both;
}
/*媒体查询*/
@media screen and (max-width: 1170px) {
    body {
        font-size: 0.9em;
    }
}
@media screen and (max-width: 970px){
    body {
        font-size: 0.85em;
    }
}
@media screen and (max-width: 770px) {    /*ipad竖屏*/
    body {
        font-size: 0.7em;
    }
}
@media screen and (max-width: 740px) {    /*手机横屏*/
    body{
        font-size: 0.5em;
    }
}
@media screen and (max-width: 450px) {    /*手机竖屏*/
    body{
        font-size: 0.4em;
    }
    .first li{
        width: 20%;
    }
    .first li a{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .left{
        display: none;
    }
    .right{
        width: 90%;
    }
    .cut{
        margin: 10%;
        width: 90%;
    }
    .content ul{
        text-align: center;
        margin: 3% 0 3% 50%;

    }
    .content ul li{
        display: inline-block;
        color:#64706c;
        font-size:1em;
    }
}