*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #ede9ce;
    font-family: '微软雅黑', Arial, Verdana;
    height: 100%;
    padding: 3% 10%;
}
h2{
    line-height: 200%;
    font-weight: 100;
    color: #935347;
    padding-bottom: 8%;
}
h3{
    font-weight: 300;
    font-size: 130%;
    margin: 4% 0 2% 0;
    border-top: solid #bcd5d1 1px;
    padding-top: 1%;
    width: 100vh;
}
h4{
    font-weight: 300;
    font-size: 130%;
    margin: 4% 0 2% 0;
}
p{
    line-height: 250%;
    color: #935347;
}
a{
    color: #935347;
    font-style: normal;
    font-size: 100%;
    text-decoration: none;
}

.first{
    margin-bottom:1%;
    float: left;
}
.headerNav a{
    display: inline-block;
    padding: 0 5% 0 0;
}
.contentHeader h1{
    margin: 5% 0 5% 0;
    border-bottom: solid 1px #bcd5d1;
}
.content {
    text-align: center;
}
.content h1{
    margin: 0 auto;
    font-size: 150%;
}
.content ul{
    text-align: center;
    margin: 4%;
    border: dashed 1px #64706c;
}
.content ul li{
    display: inline-block;
    color:#64706c;
    font-size:80%;
}
.date{
    float: center;
}
.read{
    float: right;
}
.left{
    width: 75%;
    float: left;
    border-right: 1px #64706c dashed;
}
.right{
    float: right;
    width: 20%;
    margin: 2%;
}
.right a{
    display: inline-block;
    margin: 4% 0;
}
.CONTENT div{
    clear: both;
    margin-bottom: 7%;
}
.cut{
    margin-bottom:4%;
}
.cut a{
    font-size:100%;
    line-height: 200%;
    display: inline-block;
}
.cut a:visited{
    color: #64706c;
}
.cut a:hover{
    color: slategray;
    border-bottom: dotted 1px slategray;
}
.cut a:active{
    color: #c7ad88;
    border-bottom: solid 1px #c7ad88;
}
.comment{
    border-top: solid #bcd5d1 1px;
    width: 55vw;
}
fieldset{
    width: 40vw;
    line-height: 200%;
    padding: 2%;
    background-color: #e5c79c;
    border: none;
    border-radius: 10px;
    height: 100%;
    color: #423b3b;
}
fieldset input[type="text"],textarea{
    display: block;
    width: 20vw;
}
form input[type="button"]{
    background: transparent;
    border: 1px solid #ba9077;
    font-size: 120%;
    padding: 1% 2%;
    margin-top:2% ;
    border-radius:10px;
}
.strong{
    font-weight: 600;
    font-size:105%;
}
.ps{
    color: black;
}
.code{
    background-color: #64706c;
    color: #ede9ce;
    display: inline-block;
}
.comment div{
    line-height: 200%;
    margin: 5%;
}
.comment img{
    width: 5%;
    height: 5%;
}

