/*关键帧申明*/
@keyframes color {
    from{
        background-color: rgb(37,39,87);
    }
    50%{
        background-color: rgb(16,17,38);
    }
    to{
        background-color: rgb(37,39,87);
    }
}
@keyframes come {
    from{
        color: transparent;
        transform: translate(-3%,0);
    }
    to{
        color: white;
    }
}
@keyframes downAndUpRight {
    from{
        color: transparent;
    }
    50%{
        transform: translate(0,20%);
    }
    to{
        transform: rotate(5deg);
    }
}
@keyframes downAndUpLeft {
    from{
        color: transparent;
    }
    50%{
        transform: translate(0,20%);
    }
    to{
        transform: rotate(-5deg);
    }
}
@keyframes leftAndRight {
    from{
    }
    33%{
        transform: rotate(-5deg);
    }
    66%{
        transform: rotate(5deg);
    }
}

*{
    padding: 0;
    margin: 0;
    font-family:  "Century Gothic";
    font-weight: 100;
    transition: all 0.5s ease ;
}
#index{
    height: 100%;
    width: 100%;
    font-size: 1em;
}
a:hover{
    color: darkslategrey;
}
button{
    font-size: 1em;
    background-color: rgb(241,0,97);
    border: none;
    border-radius: 45px;
    line-height: 3em;
    padding: 0 4%;
    color:white;
    margin-top:2%;
}
button:hover{
    transform: scale(1.2);
    cursor:pointer
}
p{
    color: rgb(106,111,116);
    padding: 8%;
    line-height: 2em;
    font-size: 1.2em;
}
h3{
    font-size: 1.2em;
    line-height: 6em;
}
/*首页头部*/
html,body,#index{
    height: 100%;
}
#index>header{
    background: url("picture/background(1).jpg") no-repeat;
    background-size: 100%;/*控制宽度*/
    /*height: 100%;神器，高度填满视口 但是兼容性不太好，使用层层嵌套的height:100%实现*/
    height: 100%;
}
#index>header ul{
    color:rgb(241,0,97);
    position: fixed;
    font-size: 3em;
    padding: 3% 6%;
}
#index>header li{
    list-style: none;
    font-size: 0.6em;
    line-height: 3em;
}
#index>header li:nth-child(odd){
    animation: downAndUpLeft 1.5s ;
    transform: rotate(-5deg);
}
#index>header li:nth-child(even){
    animation: downAndUpRight 1.5s ;
    transform: rotate(5deg);
}
#index>header a{
    text-decoration: none;
    color: rgb(148,171,145);
}
#index>header a:hover{
    transform: translate(20%,0);
    display: block;
    color:darkslategrey ;
}
#index>header section{
    width: 100%;
    text-align: center;

}
#index>header h1{
    margin: 0 auto;
    padding-top: 30%;
    font-size: 3em;
    color: white;
    font-weight: 900;
    animation: come 1.5s;
}
#index>header p{
    font-size: 2em;
    color: white;
    padding: 0;
    animation: come 1.5s ;
}
#index>header section a{
    font-size: 1em;
    color:rgb(241,0,97);
    display: block;
}

/*首页介绍部分*/
#index>article{
    text-align: center;
    margin: 10%;
    padding: 0 15%;
}
#index>article:hover header{
    animation: leftAndRight 1.5s;
}
article section{
    margin: 0 auto;
}
article header{
    font-size: 2em;
}
/*精选博文*/
.listDecoration{
    margin:0 9%;
    text-align: center;
}
.listDecoration>header{
    font-size: 2em;
    margin: 0 auto;
}
.listDecoration>header:hover{
    animation: leftAndRight 1.5s;
}
.listDecoration>section{
    float: left;
    width: 33.33%;
}
.listDecoration li{
    list-style: none;
    line-height: 2em;
}
.listDecoration a{
    white-space:nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    width: 90%;
    text-decoration: none;
    color: rgb(148,171,145);
    transition: all 0.5s;
    font-size: 1.2em;
}
.listDecoration a:visited{
    color:rgb(241,0,97);
}
.listDecoration a:hover{
    color: darkslategrey;
    transform: translate(0,-20%);
}
#index>.listDecoration footer{
    color:rgb(241,0,97);
    padding: 10%;
    clear: both;
}
.works{
    text-align: center;
    margin: 0 7%;
}
.works header{
    font-size: 2em;
    margin: 0 auto;
}
.works header:hover{
    animation: leftAndRight 1.5s;
}
.works p{
    padding: 2%;
}
.works div{
    width: 31%;
    height: 50%;
    background-color: rgb(47,49,110);
    float: left;
    margin: 1%;
    animation: color 3s infinite ease-in-out;
}
.works div:hover{
    width: 31%;
    height: 50%;
    transform: scale(1.2);
    float: left;
    margin: 1%;
    animation:paused;
}

.works a{
    line-height: 10em;
    color: rgb(193,203,232);
    font-size: 1.4em;
    white-space:nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    width: 90%;
    text-decoration: none;
}
.works a:visited{
   color:rgb(350,193,233);
}
.works a:hover{
    color:rgb(193,232,197);


}
.works footer{
    color:rgb(241,0,97);
    padding: 10%;
    clear: both;
}
#index>footer{
    text-align: center;
}
#index>footer p{
    padding: 2%;
    margin: 0 auto;
    font-size: 2em;
    color:rgb(241,0,97);
    font-weight: 900;
}
#index>footer a{
    font-size: 2em;
    text-decoration: none;
}



/*媒体查询*/
@media screen and (max-width: 1170px) {
    #index {
        font-size: 0.9em;
    }
}
@media screen and (max-width: 970px){
    #index {
        font-size: 0.85em;
    }
}
@media screen and (max-width: 770px) {     /*ipad竖屏*/
    #index {
        font-size: 0.6em;
    }
    #index>header{
        background: url("picture/background(3).jpg") no-repeat;
        background-size: 100%;
     }
     #index>header>section{
         position: absolute;
         top:20%;
         font-size: 2em;
     }
     #index>header>nav{
         height: 100%;
     }
     #index>header ul{
         width: 100%;
     }
     #index>header li{
         display: inline-block;
         font-size: 1em;
         margin-left: 3%;
     }
     #index>header>section>button{
         position: relative;
         bottom:0;
     }
}
@media screen and (max-width: 740px) {    /*手机横屏*/
    #index {
        font-size: 0.5em;
    }
    #index>header{
        background: url("picture/background(2).jpg") no-repeat;
        background-size: 100%;
        height: 100%;
    }
    #index>header>section{
        font-size: 1em;
    }
    #index>header>nav{
        height: 100%;
    }
    #index>header h1{
        padding-top: 20%;
        font-size: 3em;
        color: white;
        font-weight: 900;
        animation: come 1.5s;
    }
    button{
        font-size: 1em;
        background-color: rgb(241,0,97);
        border: none;
        border-radius: 45px;
        line-height: 2em;
        padding: 0 2%;
        color:white;
        margin-top:2%;
    }
    #index>header ul{
        width: 100%;
    }
    #index>header li{
        display: block;
        font-size: 0.5em;
        margin-bottom:3% ;
    }
    #index>header li:nth-child(odd){
        animation: come 1.5s ;
        transform: none;
    }
    #index>header li:nth-child(even){
        animation: come 1.5s ;
        transform: none;
    }
}
@media screen and (max-width: 450px) {    /*手机竖屏*/
    #index {
        font-size: 0.5em;
    }
    #index>header{
        background: url("picture/background(3).jpg") no-repeat;
        background-size: 100%;
        height: 100%;
    }
    #index>header>section{
        position: absolute;
        top:30%;
        font-size: 1.5em;
    }
    #index>header>nav{
        height: 100%;
    }
    #index>header ul{
        width: 100%;
    }
    #index>header li{
        display: inline-block;
        font-size: 0.5em;
        margin-left: 3%;
    }
    #index>header>section>button{
        position: relative;
        bottom:0;
    }
}

