@keyframes come {
    from{
        color: transparent;
        transform: translate(-3%,0);
    }
}
@keyframes leftAndRight {
    from{
    }
    33%{
        transform: rotate(-5deg);
    }
    66%{
        transform: rotate(5deg);
    }
}
@keyframes upAndDown{
    from{
        transform: translate(0,10%);
    }
    33%{
        transform: translate(0,-10%);
    }
    66%{
        transform: translate(0,10%);
    }
}
*{
    padding: 0;
    margin: 0;
    font-family: Andalus;
    transition: all 1s;
}
body{
    background-color: rgb(221,221,221);
    width: 100%;
    height: 100%;
}
#album{
    height: 100%;
    width: 100%;
    font-size: 1em;
    text-align: center;
}
#album>section{
    z-index: 100;
    width: 0;
    height: 0;
    position: fixed;
}
#album>section>div{
    text-align: center;
    height: 100%;
}
#album>section img{
    max-width: 90%;
    max-height: 90%;
    margin: 5% auto;
    display: none;
}
#album>div{
    font-size: 3em;
    margin: 0 auto;
    line-height: 2em;
    animation: leftAndRight 1s;
    z-index: 100;
}
#album>div>a{
    color: rgb(56,152,300);
    text-decoration: none;
}
#home:hover{
    transform: scale(1.2);
}
#album #back{
    position: fixed;
    bottom: 0;
    right: 5%;
}
#album #back:hover{
    transform:rotate(360deg);
}
#album>nav{
    background-color: rgb(214,238,246);
    padding: 0 5%;
}
#album>nav header{
    font-size: 3em;
    float: left;
    line-height: 2.333em;
    animation: come 1s;
}
#album>nav li{
    display: inline-block;
    float: right;
    width: 18%;
    text-align: center;
    animation: upAndDown 1s;
}
#album>nav a{
    display: inline-block;
    font-size: 2em;
    line-height: 3.5em;
    text-decoration: none;
    color: black;
    font-weight: 700;
    width: 100%;
}
.clear{
    clear: both;
    height: 0;
}
#album>article>div{
    display: inline-block;
    width: 24.7%;
    position: relative;
    background :linear-gradient(to top, black 0%,transparent 70%);
    float: left;
}
#album>article>div:hover img{
    opacity: 0.5;
}
#album>article>div:hover .introduction{
    opacity: 1;
}
#album>article figure{
    height: auto;
    font-size:0;
}
.top{
    position: absolute;
    top:20%;
    width: 100%;
}
.top>div{
    width: 100%;
    text-align: center;
}
.title{
    font-size: 3em;
    color:white;
    font-weight: 900;
    margin: 0 auto;
    opacity: 1;
}
.bottom{
    position: absolute;
    bottom:10%;
    width: 100%;
}
.bottom>div{
    width: 100%;
    text-align: center;
}
.introduction{
    font-size: 1.5em;
    color:white;
    margin: 0 auto;
    line-height: 1em;
    opacity: 0;
}
img{
    max-width: 100%;
    vertical-align:top
}
.gardening{
    background: rgb(229,116,55);
}
.italic{
    background: rgb(56,182,230);
}