*{
    margin:0;
    padding:0;
}
body{
    text-align: center;
}
section{
    height: 264px;
    width: 560px;
    border: black 1px solid;
    margin: 0 auto;
    padding-right: 10px;
    padding-top:10px ;
}
li{
    width: 100px;
    height:100px;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    border: solid black 1px;
    background-color: aliceblue;
    float: left;

}
p{
    font-size: 20px;
}
img{
    width: 128px;
    height: 128px;
    position: relative;
    right:14px;
    bottom: 34px;
    display: none;



}