/*
*{
    padding: 0;
    margin: 0;
}
#outer{
    background: black;
    color: white;
    margin: 10px;
    border: 15px solid red;
    padding: 20px;
    width: 100px;
    height: 100px;
    overflow: auto;

}
#inner{
    background: red;
    color: blue;
    margin: 15px;
    padding: 30px;
    border:40px solid blue;
    width: 60px;
    height: 20px;
    overflow: auto;
}
#px{
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
    border-color: red transparent red transparent;
}
*/

