*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    width: 100%;
    height: 100%;
}
#main{
    width: 30%;
    height: 80%;
    margin: 0 auto;
    margin-top:1%;
    border:1px solid black;
    overflow: hidden;
    position: relative;
}
.contain{
    position: absolute;
    height: 100%;
    width: 100%;
}
.row{
    width: 100%;
    height: 25%;
}
.row div{
    width: 25%;
    height: 100%;
    float: left;
}
#main .black{
    width: 25%;
    height: 100%;
    background: black;
}